input:required,
input:required:invalid {
    box-shadow: 0 0 5px 1px red;
}

input:required:focus,
input:required:valid {
    box-shadow: none;
}

input:valid {
    border: 1px solid green;
}

label > span {
    color: red;
};

.error {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    background: #900;
    border-radius: 0 0 5px 5px;
    color: white;
}

.error.active {
    padding: 0.3rem;
}